node_modules
**/node_modules
.next
**/.next
out
**/out
.git
.env*
Dockerfile
docker-compose.yml
**/.DS_Store
**/Thumbs.db
venv
**/venv
__pycache__
**/__pycache__
uploads
**/uploads
tokensave
**/tokensave
.tokensave
**/.tokensave
